<!DOCTYPE html>
<html>
 <meta charset="UTF-8">
    <head>
        <title> КОНТАКТЫ </title>
        <link href="style1.css" rel="stylesheet" type="text/css"/>
        
    </head>
<body>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"> ГЛАВНАЯ СТРАНИЦА ПАРСЕРА ХХ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="zapros.html"> ПОИСК ПО ХХ </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="rezultat.html"> РЕЗУЛЬТАТ ЗАПРОСА <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="address.html"> КОНТАКТЫ </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>   КУДА ЗВОНИТЬ И БЕЖАТЬ ЕСЛИ ЧТО: </h2><br>
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2><br>

                <table class="table table-striped">
                    <tr>
                        <th>ТЕЛЕФОН</th>
                        <th>АДРЕС</th>
                    </tr>
                    <tr>
                        <td>ВАСЯ</td>
                        <td>+7(001)ХХХ-ХХХ-ХХХХ</td>
                    </tr>
                    <tr>
                        <td> ПЕТЯ </td>
                        <td> +7(001)ХХХ-ХХХ-ХХХХ </td>
                    </tr>
                    <tr>
                        <td> WE TRUST </td>
                        <td> USA, NY </td>
                    </tr>
                    <tr>
                        <td> КУДА БЕЖАТЬ: </td>
                        <td> NO WAY :))) </td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <br>

    </div>
</body>
</html>