<!DOCTYPE html>
<html>
 <meta charset="UTF-8">
    <head>
        <title> ПОИСК ПО ХХ - РЕЗУЛЬТАТ </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> ХХ  ПОИСК</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"> ГЛАВНАЯ СТРАНИЦА ПАРСЕРА ХХ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="zapros.html"> ПОИСК ПО ХХ </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="rezultat.html"> РЕЗУЛЬТАТ ЗАПРОСА <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="address.html"> КОНТАКТЫ </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>ВОТ ЧТО НАШЛИ ПО ВАШЕМУ ЗАПРОСУ:</h1><br>
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2><br>

                <table class="table table-striped">
                    <tr>
                        <th>SKIL</th>
                        <th>VALUE</th>
                    </tr>
                    <tr>
                        <td>НАШЛОСЬ ВАКАНСИЙ</td>
                        <td>~1999</td>
                    </tr>
                    <tr>
                        <td> ЗАРПЛАТА ДО ВЫЧЕТА НАЛОГОВ </td>
                        <td> 170 000 РУБЛЕЙ </td>
                    </tr>
                    <tr>
                        <td> ГЛАВНЫЙ SKIL </td>
                        <td> PYTHON </td>
                    </tr>
                    <tr>
                        <td> ЖЕЛАЕМЫЙ ДОПОЛНИТЕЛЬНЫЙ SKIL </td>
                        <td> UNIX-LIKE-SYSTEM </td>
                    </tr>
                    <tr>
                        <td> EXTRA SKIL </td>
                        <td> MONGO DB, ELK, KAFKA </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>

    </div>
</body>
</html>