<!DOCTYPE html>
<html>
 <meta charset="UTF-8">
    <head>
        <title> ПОИСК ПО ХХ - ПАРАМЕТРЫ ПОИСКА </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> ХХ ПОИСК </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"> ГЛАВНАЯ СТРАНИЦА ПАРСЕРА </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="zapros.html"> ПОИСК ПО ХХ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rezultat.html"> РЕЗУЛЬТАТ ЗАПРОСА </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="address.html"> КОНТАКТЫ </a>
                </li>

            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> ВЫБЕРИТЕ ПАРАМЕТРЫ ПОИСКА </h1><br>
            </div>
        </div>
        <br>
        <form action="rezultat.html">
            <div class="form-group">
                <label for="vacancy">ЯЗЫК ПРОГРАММИРОВАНИЯ</label>
                <input type="input" name="vacancy" class="form-control" id="vacancy" placeholder="ВВЕДИТЕ ПРЕДПОЧИТАЕМЫЙ ЯЗЫК ПРОГРАММИРОВАНИЯ">
                <small id="vacancyHelp" class="form-text text-muted"> ОСНОВНОЙ ЯЗЫК ПРОГРАММИРОВАНИЯ: PYTHON</small>
            </div>
            <div class="form-group">
                <label for="region">ГДЕ ИСКАТЬ</label>
                <select class="form-control" name="region" id="region" value="">
                    <option value="1"> Москва </option>
                    <option value="2"> Санкт-Петербург </option>
                    <option value="113"> Вся РФ </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"> ИЩЕМ??? </button>
        </form>
    </div>

</body>
</html>